@import "/src/scss/_variable__";
@import "/src/scss/_color";

.cart-card {
  @include displayFlex(center, space-around,row);
  margin-top: 15px;
  background-color: $secodnary_light;
  padding: 10px;
  &__sub-one {
    @include displayFlex(center, space-between,row);
    gap: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    &__pic {
      width: 250px;
      aspect-ratio: 1/1;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__sub-two {
    @include displayFlex(center, center,row);
    gap: 10px;

    &__btn {
      height: 40px;
      aspect-ratio: 1/1;
      border: none;
    }
  }

  &__sub-three {
    color: $primary;
  }
}

@media(max-width:1024px){
    .cart-card{
        @include displayFlex(center,space-around,row);

    }

}

@media(max-width:756px){
    .cart-card{
        &__sub-one {
            &__pic {
              width: 150px;
            }
          }

          &__sub-two {
            display: none;
          }

    }

}

@media(max-width:756px){
    .cart-card{
        &__sub-one {
            @include displayFlex(center, center,column);
          }


    }

}